* {
    transition: 200ms;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
.clearfix { display: inline-block; }
.navbar a {
    color: #999999;
}
.navbar a:hover {
    color: #555555;
}
.sidebar-list-group .list-group-item {
    border:none;
    color: #999999;
}
.sidebar-list-group .list-group-item.active {
    background-color: #a41f24;
    color: #ffffff;
    border-radius: 3px;
    margin-bottom: 5px;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 3px;

}
a:hover {
    text-decoration: none;
}
.news-list-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #eeeeee;
}
.new-list:first-child {
    padding-top: 0px;
}
.news-list-item .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.5;
    display:block;

}
.news-list-item .info {
    color: #999999;
}
.news-list-item .avatar {
    display: inline-block;
    width: 40px;
    margin-right: 5px;
}

.news-list-item .title {
    color: #111111;
}

.news-list-item .title:hover {
    color: #337ab7;
}

.side-bar-card {
    margin-top: 20px;
    background:rgba(0,0,0,0.05);
    padding:10px 0;
}
.flag {
    padding:10px 10px;
}

.side-bar-card .card-title,
.side-bar-card .card-body .list .item {
    padding: 10px 10px;
}

.side-bar-card .card-body .list .item:hover {
    background: rgba(0,0,0,0.05)
}

.side-bar-card .card-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}
.side-bar-card .card-body {
    padding: 0 0;
}

.card-body .list .item .title {
    margin-bottom: 5px;
}
.card-body .list .item .desc {
    color: #999999;
    font-size: 12px;
}

.side-bar-card {
    border-radius: 3px;

}

.news-title {
    line-height: 1.3;
    font-size:25px;
}
.news-status {
    color: #999999;
    float: right;
}
.news-status .badge {
    opacity: 0.8;
}

.news-content {
    margin-top: 20px;
    line-height: 1.5;
}
.news-content img {
    margin-top: 10px;
    margin-bottom: 10px;

}

.footer {
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    color: #999999;
    
}

.container-small {
    max-width: 500px;
}

.btn-primary {
    background: #a41f24;
    border-color: #a41f24;
}
.btn-primary:hover {
    background: #8e1317;
}
small {
    font-size: 20px;
    color: #999999;
}

.search-bar .form-control:focus {
    border-color: rgba(0,0,0,0.05);
}